.daily {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 50px;
  & .daily__item {
    transition: 0.3s all;
    height: 210px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 0 10px;
    padding-bottom: 20px;

    background: rgba(46, 137, 232, 0.7);
    & img {
      display: block;
      width: 100px;
      height: 100px;
    }
  }
  &__day {
    font-size: 30px;
    font-weight: 600;
  }
  &__wrapper {
    justify-content: space-evenly;
    & h2 {
      font-size: 32px;
    }
  }
  &__addition {
    font-size: 16px;
    line-height: 23px;
  }
  &__description {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
    // color: rgb(0, 192, 80);
  }
  &__detailed {
    padding: 5px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2px;
    text-align: center;
    cursor: pointer;
    color: rgb(233, 162, 10);
    line-height: 1rem;
    &::before {
      content: "";
      width: calc(100% - 10px);
      height: 2px;
      background-color: rgb(233, 162, 10);
      position: absolute;
      left: 5px;
      bottom: 0;
    }
  }
  &__min {
    color: #f6fc4e;
    font-weight: 600;
  }
  &__max {
    color: #f6fc4e;
    font-weight: 600;
  }
}
