@import "../styles";
.dailyOrHourlyTriggers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.daily-trigger,
.hourly-trigger {
  width: 220px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #d0d0d0;
  transition: 0.5s all;
  div {
    transform: skewX(25deg);
  }
  &:hover {
    // border: none;
    background-color: $red;
    color: #fff;
  }
}
.daily-trigger.active,
.hourly-trigger.active {
  border: none;
  background-color: $red;
  color: #fff;
}
