@media (max-width: 1200px) {
  .timezone {
    font-size: 32px;
    max-width: 250px;
  }
}

@media (max-width: 992px) {
  .timezone {
    position: static;
    text-align: center;
    font-size: 32px;
    max-width: none;
    margin-bottom: 20px;
    > div {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
    width: calc(100vw - 40px);
  }

  .timezone {
    font-size: 26px;
  }
  .current {
    width: 100%;
  }
}

@media (max-width: 576px) {
  body {
    padding: 10px;
  }
  .container {
    width: calc(100vw - 20px);
  }
  .location {
    flex-direction: column;
    width: 100%;
  }
  .current {
    &__addition {
      div:first-of-type {
        font-size: 19px;
      }
    }
    &__wrapper {
      img {
        width: 75px;
        height: 75px;
      }
    }
    h2 {
      font-size: 39px;
      transform: translateX(10px);
    }
    &__addition {
      div:first-of-type {
        transform: none;
        font-size: 21px;
      }
    }
    &__now {
      margin-top: 15px;
      font-size: 33px;
    }
  }
  .location {
    height: 80px;
    align-items: center;
    > div {
      width: 100%;
    }
    &__search {
      width: 100%;
    }
    &__button {
      width: 50%;
    }
  }
}
