@import "styles";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  &::selection {
    background-color: rgb(204, 247, 76);
  }
}

body {
  background-blend-mode: screen;
  min-height: 100vh;
  background: url("https://abrakadabra.fun/uploads/posts/2021-12/1639922019_4-abrakadabra-fun-p-fon-dlya-pogodi-5.jpg")
    no-repeat center center/cover;
  padding: 20px;
}

.container {
  background-color: rgba(0, 191, 255, 0.8);
  border-radius: 10px;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  width: calc(100vw - 100px);
  padding: 40px;
  padding-top: 20px;
}

.timezone {
  position: absolute;
  font-size: 40px;
  max-width: 450px;
  overflow: hidden;
}

@import "components/current";
@import "components/daily";
@import "components/triggers";
@import "components/hourly";
@import "components/location";
@import "media";
